old_folder
.idea
vizualization_js/datamaps-0.5.0/
data/full_original_format.csv
data/good_vs_bad.csv
data/data.js
data/after_drop_duplicates_clean_data*
data/all_languages.csv
data/data.csv
data/output_1478189396.csv
node_modules/
shippable/
coverage/
/data/update/data.csv
data/update/postProcessDataToVisualization.pyc
/data/update/
/data/PHDashboard-update/
