
.hoverover {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hoverinfo {
    padding: 4px;
    border-radius: 1px;
    background-color: #FFF;
    box-shadow: 1px 1px 5px #CCC;
    font-size: 20px;
    border: 1px solid #CCC;
    margin: 30px;
}
.hoverinfo {
    margin: 30px;
}

.hoverinfo hr {
    border:1px dotted #CCC;
}