.arabLeagueMap {
    display: block;
    margin: auto auto;
    width: 100%;
    height: 400px;
}


.btn-country {
    margin-top: 2px;
    width: 100%;
    color: #000;
    font-size: 12px;
    font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
}

.btn-country:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #000;
    /*border: 2px solid #d1d1d1;*/
}

.btn-multiple-countries{
    margin-top: 2px;
    color: #000;
}

.btn-multiple-countries:hover{
    color: #000;
}
#countriesList{
    top: -50px;
    position: relative;
}