.arabLeagueMap {
    display: block;
    margin: auto auto;
    width: 100%;
    height: 400px;
}

.qatarBahreinMap {
    margin: auto auto;
    position: relative;
    top: -80px;
    width: 75px;
    height: 75px;
    left: -20px;
    background-color: white;
    border: 1px solid black;
    float:right;
}
.mapSelectDeselectAllBtns{
    top: -75px;
    position: relative;
}

.btn-country {
    margin-top: 2px;
    width: 100%;
    color: #000;
    font-size: 12px;
    font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
}

.btn-country:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #000;
    /*border: 2px solid #d1d1d1;*/
}

.btn-multiple-countries{
    margin-top: 2px;
    color: #000;
}

.btn-multiple-countries:hover{
    color: #000;
}

#countriesList{
    top: -75px;
    position: relative;
}

#tooltip-locations {
    position: absolute;
    z-index: 1;
}

