/*.redBar {*/
    /*fill: #ff2121;*/
/*}*/

/*.greenBar{*/
    /*fill: #12c000;*/
/*}.redBar {*/
    /*fill: #ff2121;*/
/*}*/

/*.greenBar{*/
    /*fill: #12c000;*/
/*}*/


.axis text {

    font: 12px sans-serif;

}

.axis path, .axis line {

    fill: none;

    stroke: #000;

    shape-rendering: crispEdges;

}

.align {
    margin-top: 20px;//This 20px is the margin of .pagination class so to match that else you have to alter pagination class
}


#tooltip-stackedbar {
    position: absolute;
    /*padding: 4px;*/
    /*border-radius: 1px;*/
    /*background-color: #FFF;*/
    /*box-shadow: 1px 1px 5px #CCC;*/
    /*font-size: 12px;*/
    /*border: 1px solid #CCC;*/
}

#tooltip-stackedbar.hidden {
    display: none;
}

#horizontalStackedBar .greenBar{
    cursor: pointer;
}
#horizontalStackedBar .redBar{
    cursor: pointer;
}
.blueMarkerScore{
    cursor: pointer;
}