/*.redBar {*/
    /*fill: #ff2121;*/
/*}*/

/*.greenBar{*/
    /*fill: #12c000;*/
/*}.redBar {*/
    /*fill: #ff2121;*/
/*}*/

/*.greenBar{*/
    /*fill: #12c000;*/
/*}*/


.axis text {

    font: 10px sans-serif;

}

.axis path, .axis line {

    fill: none;

    stroke: #000;

    shape-rendering: crispEdges;

}

.align {

    margin-top: 20px;//This 20px is the margin of .pagination class so to match that else you have to alter pagination class
float:left;
}