
#chart {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}
text {
    pointer-events: none;
}

.grandparent text {
    font-weight: bold;
}

.treemapRowContainer{
    /*margin-bottom: 11px;*/

    margin-left: 0px;
}

.treemapSpanContainer{
    padding-bottom: 11px;
    margin-left: 0px;
    background-color: #d6d6d6;
}

.treemapRect {
    fill: none;
    stroke: #fff;
    cursor: pointer;
}

rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

rect.parent {
    pointer-events: none;
}

.grandparent rect {
    fill: orange;
}

.grandparent:hover rect {
    fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
}

.children:hover rect.child {
    fill: #bbb;
}

#tooltip-treemap {
    position: absolute;
    /*padding: 4px;*/
    /*border-radius: 1px;*/
    /*background-color: #FFF;*/
    /*box-shadow: 1px 1px 5px #CCC;*/
    /*font-size: 12px;*/
    /*border: 1px solid #CCC;*/
}

#tooltip-treemap.hidden {
    display: none;
}

/*#tooltip-treemap p {*/
    /*margin: 0;*/
    /*font-family: sans-serif;*/
    /*font-size: 16px;*/
    /*line-height: 20px;*/
/*}*/