body {
    font-size: 14px;
    font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
}

#alertCouldntParseParams{
    background-color: #ffd1d1;
    padding: 5px;
    border-radius: 5px;
    color: #af0000;
}

ul.share-buttons{
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0px;
}

ul.share-buttons li{
    display: inline;
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

ul.share-buttons img{
    width: 32px;
}
svg{
    overflow: hidden;
}

.subHeader{
    margin-top:18px;
    font-size: 22px;
}
.facebookHighlight{
    font-weight: bold;
    color: #3B5998;
}
.facebookHighlight:hover{
    text-decoration: none;
    font-weight: bold;
    color: #3B5998;
}
.facebookHighlight:focus{
    text-decoration: none;
    font-weight: bold;
    color: #3B5998;
}

a{
    color: #3B5998;
}

