.navbar-inverse .brand:hover, .navbar-inverse .nav>.active>a, .navbar-inverse .nav>.active>a:hover, .navbar-inverse .nav>.active>a:focus{
    background-color: rgba(0,0,0,0.25);
}
.navbar-inverse .navbar-inner {
    background-color: #4b556b;
}

body {
    font-size: 14px;
    font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
}

#alertCouldntParseParams{
    background-color: #ffd1d1;
    padding: 5px;
    border-radius: 5px;
    color: #af0000;
}

ul.share-buttons{
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0px;
}

ul.share-buttons li{
    display: inline;
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

ul.share-buttons img{
    width: 32px;
}
svg{
    overflow: hidden;
}

.subHeader{
    margin-top:18px;
    font-size: 22px;
}
.facebookHighlight{
    font-weight: bold;
    color: #3B5998;
}
.facebookHighlight:hover{
    text-decoration: none;
    font-weight: bold;
    color: #3B5998;
}
.facebookHighlight:focus{
    text-decoration: none;
    font-weight: bold;
    color: #3B5998;
}


a{
    color: #3B5998;
    font-weight: bold;
}

.btn-primary{
    background-color: #3B5998;
}

.btn-primary:hover{
    background-color: #324b80;
}

.thumbnail .caption{
    color: #080808;
}
.tutorial-img{
    max-height: 300px;
    width: auto;
}
.tutorial-step{
    margin-bottom: 10px;
}
.tutorial-objectives{
    margin-top: 10px;
    margin-bottom: 10px;
}
.step-number{
    color: #3B5998;
    font-weight: bold;
}

.good{
    color: darkgreen;
    font-weight: bold;
}
.score{
    color: darkblue;
    font-weight: bold;
}
.bad{
    color: darkred;
    font-weight: bold;
}
.socialLinks{
    margin-top: 10px;
    font-weight: 600;
}
.socialLinks > div{
    margin-bottom: -10px;
}

/*LEGEND*/
.legendAxis text {
    font-size: 12px;
    font-weight: bold;
}

.legendAxis line, .legendAxis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}


.legendAxis > .tick{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: #212121;

}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#subregionMapContainer{
    margin-left: auto;
}


.btn-location {
    margin-top: 2px;
    width: 70px;
    color: #000;
    font-size: 12px;
    font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
}

.btn-location:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #000;
    /*border: 2px solid #d1d1d1;*/
}

.btn-multiple-countries{
    margin-top: 2px;
    color: #000;
}

.btn-multiple-countries:hover{
    color: #000;
}

#locationBtnList{
    top: -75px;
    position: relative;
    padding-right: 18px;
    width: 200px;
}
.locationBtnsListOverflow{
    padding-left: 18px;
    overflow: auto;
    overflow-x: hidden;
}

#tooltip-locations {
    position: absolute;
}

.hoverinfo {
    z-index: 1;
    padding: 4px;
    border-radius: 1px;
    background-color: #FFF;
    box-shadow: 1px 1px 5px #CCC;
    font-size: 12px;
    border: 1px solid #CCC;
}

.scoreInMap{
    font-size: 12px;
}

.populationSparkline{
    margin-left: 10px;
    background-color: #555;
    color: #555;
    display: inline-block;
}

.btnsHeader{
    margin-left: 65px;
    font-size: 12px;
}
.populationSparklineAxis .domain{
    fill: none;
    stroke-width: 2px;
    stroke: #000000;
}
#treemapLegend{
    margin-top: -18px;
}

#interestingFindingsTitle{
    display: none;
}

.btnsHeaderTitle{
    margin-left: 10px;
}